<!-- About Section -->
<section id="about" class="about">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            {% assign lang = page.lang %}
            <h3>{{ site.data.messages.[lang].about }} LatinR</h3>
            <div class="row about-details">
                {% assign animationDelay = 0 %}
                <div class="animated hiding" data-animation="fadeInDown" data-delay="{{ animationDelay }}">
                </div>
                {% for about in site.data.messages.[lang].aboutBlock %}
                {% assign colWidth = 12 | divided_by: forloop.length %}
                <div class="col-md-{{ colWidth }} col-xs-6">  
                    <div class="animated hiding" data-animation="fadeInDown" data-delay="{{ animationDelay }}">
                        <h5>{{ about.title }}</h5>
                        <img class="img-circle" src="{{ site.baseurl }}/img/about-section/{{ about.image }}" height="128" width="128" alt="{{ about.title }}">
                        <p>{{ about.text }}</p>
                    </div>
                </div>
                {% assign animationDelay = animationDelay | plus:500 %}
                {% assign check = forloop.index | modulo:2 %}
                {% if check == 0 %} <div class="clearfix visible-xs"></div> {% endif %}
                {% endfor %}
                <div class="col-md-12 col-xs-6">  
                    <div class="animated hiding" data-animation="fadeInDown" data-delay="{{ animationDelay }}">
                        <p align="center"> {{ site.data.messages.[lang].scientificComittee2 }} </p>
                    </div>
                </div>
                
                
                
            </div>
        </div>
    </div>
</section>
<!-- End About Section -->
