<!-- Begin Location Section -->
<section id="location-map" class="location-map">
    <div id="canvas-map" class="canvas-map"></div>
    <div class="content-wrapper">
        <div class="col-lg-3 col-md-4 col-sm-6 col-md-offset-1 animated hiding location-description text-left" data-animation="fadeInLeft" data-delay="0">
            <div class="row">
                <div class="pull-left">
                    {% assign lang = page.lang %}
                    <h3>{{ site.data.messages.[lang].locationBlockTitle }}</h3>
                    <ul>
                        {% if site.data.messages.[lang]eventLocationName %}<li>{{ site.data.messages.[lang]eventLocationName }}</li>{% endif %}
                        <li>{{ site.eventStreetAddress }}, {{ site.eventAddressLocality }}</li>
                        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                        <li>
                            <!--
                            {% assign startTime = site.eventStartTime | split: "T" %}
                            <time>{{ startTime[1] }}</time> -
                            {% assign endTime = site.eventEndTime | split: "T" %}
                            <time>{{ endTime[1] }}</time>
                        -->
                        </li>
                    </ul>
                </div>
                {% if page.lang == "en" %}
                    {% assign logistics = "logistics/#find-way" %}
                {% elsif page.lang == "br" %}
                    {% assign logistics = "logistica/#find-way" %}
                {% else %}
                    {% assign logistics = "logistica/#find-way" %}
                {% endif %}
                <a href="{{ site.baseurl | append: logistics }}" class="pull-right">
                    <svg class="icon icon-direction" viewBox="0 0 32 32">
                        <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-direction"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- End Location Section -->